# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
env/
ENV/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# System Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDEs / Editors
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log


# -------------------------
# Model Artifacts (optional)
# -------------------------
# Comment this if you WANT to push model
# artifacts/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# Cache
# -------------------------
.cache/

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.bak